{{> menu}}

<section class="ui center aligned middle aligned two column grid segment">
  <section class="column">
    <h1 class="ui header">
      {{ title }}
    </h1>
    <p>
      {{ description }}
    </p>
  </section>
  <section class="column">
    <img class="ui image" src="/images/bookmark.png">
  </section>
</section>

<div class="ui center aligned grid segment">
  <div class="ui header"> </div>
  <div class="ui statistics">
      <h1>Site-Wide Statistics:</h1>
    <div class="statistic">
      <div class="value">
        <i class="book icon"></i> {{totalNumberOfCollections}}
      </div>
      <div class="label">
        Bookmark Categories
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <i class="bookmark icon"></i> {{totalBookmarks}}
      </div>
      <div class="label">
        Bookmarks
      </div>
    </div>
  </div>
</div>

<div class="ui center aligned grid segment">
    <div class="ui header"> </div>
    <div class="ui statistics">
      <h1>User Statistics:</h1>
    </div>
    <div class="statistic">
        <div class="value">
            <i class="book icon"></i> {{userBookmarks}}
        </div>
        <div class="label">
            Your bookmarks
        </div>
    </div>
    <div class="statistic">
        <div class="value">
            <i class="book icon"></i> {{userBookmarklist}}
        </div>
        <div class="label">
            Your bookmark collections
        </div>
    </div>
    <div class="statistic">
        <div class="value">
            <i class="book icon"></i> {{userBookMarks}}
        </div>
        <div class="label">
            Average bookmarks per collection
        </div>
    </div>
    <div class="statistic">
        <div class="value">
            <i class="book icon"></i> {{userBookMarks}}
        </div>
        <div class="label">
            Collection with most bookmarks
        </div>
    </div>
    <div class="statistic">
        <div class="value">
            <i class="book icon"></i> {{userBookMarks}}
        </div>
        <div class="label">
            Collection with least bookmarks
        </div>
    </div>
</div>
